@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color1:#00BFB2;
  --bg-color2:#1A5E63;

  --text-color1:#ffffff;
  --text-color2:#1A5E63;
  --text-color3:#00BFB2;

  --big-font: 2rem;
  --h2-font:1rem;
  --p-font: 0.9rem;
}