@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color1:#00BFB2;
  --bg-color2:#1A5E63;

  --text-color1:#ffffff;
  --text-color2:#1A5E63;
  --text-color3:#00BFB2;
  --text-color4:#000000;
  --text-color5:#e2d400;

  --big-font: 1.8rem;
  --h2-font:1.3rem;
  --p-font: 1.2rem;
}

section{
  padding:40px 10%;
}

/* header section */

header{
  position: fixed;
  width: 100%;
  top:0;
  right:0;
  z-index:1;
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding:20px 80px;
  box-shadow:1px 1px 3px 4px #000000;
  background-color: var(--bg-color2);
}

.logo{
  font-size: var(--big-font);
  font-weight: 500;
  color: var(--text-color3);
}

.navbar {
  display: flex;
}

.navbar a{
  font-size: 1.2rem;
  padding:10px 20px;
  font-weight: 500;
  color: var(--text-color1);
  font-weight: 300;
}

.navbar a:hover {
  color: var(--text-color5);
}

/* home */
.home{
  width: 100%;
  height: auto;
  display: grid;
  align-items: center;
  text-align: center;
  background-color: var(--bg-color1);
}

.home-text h1{
  font-size: var(--big-font);
  color: var(--text-color1);
  margin-top: 100px;
  margin-bottom: 20px;
}

.home-text h2{
  font-size: var(--h2-font);
  color: var(--text-color2);
  margin-bottom: 20px;
}

.home-text h3{
  line-height: 3rem;
  color: var(--text-color1);
}

/* About */

.about{
  background-color: var(--bg-color2);
  width: 100%;
  height: auto;
}
.about-heading{
  text-align: center;
  color: var(--bg-color1);
  font-size: var(--h2-font);
}

.about-img{
  width: 31%;
  margin-top: 1rem;
}

.about-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-img img{
  max-width: 30%;
  border-radius: 0.5rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
}

.about-img p{
  line-height: 1.9rem;
  font-size: var(--p-font);
  color: var(--text-color1);
  text-align: center;
}

.about-tech{
  width: 40%;
  text-align: center;
  margin-top: 10rem;
}

.about-tech h2{
color: var(--text-color1);
}

.about-tech ul{
  margin-top: 1rem;
}

.about-tech li{
  color: var(--text-color3);
  font-size: var(--h2-font);
  margin-bottom: 1rem;
}

/* projects */

.projects{
  background-color: var(--bg-color1);
}

.projects-heading{
  text-align: center;
  color: var(--text-color2);
  font-size: var(--h2-font);
  
}


.projects-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  /* grid-template-columns: repeat(2,1fr); */
  align-items: center;
  gap: 10rem;
}

.box{
  position: relative;
  margin-top: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px 4px #1A5E63;
  padding: 10px ;
}

.box-img{
  width: 200px;
  height: 200px;
}

.box-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position:center;
}

.box h2{
  color: var(--text-color1);
  text-align: center;
}

.box p{
  color: var(--text-color2);
  text-align: center;
}



/* connect */

.connect{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-color2);
}

.connect-text h1{
  font-size: var(--h2-font);
  font-weight: bold;
  color: var(--text-color3);
  
}

.btn{
  display: inline-block;
  background-color: var(--bg-color1);
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: var(--text-color1);
}

.btn:hover{
  background-color: var(--text-color5);
}

/* contact */
.contact{
  display:flex;
  align-items:center;
  justify-content: space-around;
  background-color: var(--bg-color2);
}

.contact-text{
  color: var(--bg-color1);
}

.contact-text p{
  color: var(--text-color1);
}

.contact-text h3{
  text-align: center;
}

.contact-text h2{
  text-align: center;
}

.social{
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.social i{
font-size: 30px;
color: var(--text-color4);
}

.social a{
  color: var(--text-color3);
}

.social i:hover{
  color: var(--text-color5);
}