@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color1:#00BFB2;
  --bg-color2:#1A5E63;

  --text-color1:#ffffff;
  --text-color2:#1A5E63;
  --text-color3:#00BFB2;
  --text-color4:#000000;

  --big-font: 2rem;
  --h2-font:1.2rem;
  --p-font: 0.9rem;
}

section{
  padding:40px 10%;
}

/* header section */

header{
  position: fixed;
  width: 100%;
  top:0;
  right:0;
  z-index:1;
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding:20px 80px;
  box-shadow:1px 1px 3px 4px #000000;
  background-color: var(--bg-color2);
}

.logo{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color4);
}

.navbar {
  display: flex;
}

.navbar a{
  font-size: 1.2rem;
  padding:10px 20px;
  font-weight: 500;
  color: var(--text-color1);
  font-weight: 300;
}

.navbar a:hover {
  color: var(--text-color3);
}

/* home */
.home{
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  text-align: center;
  background-color: var(--bg-color1);
}

.home-text h1{
  font-size: var(--big-font);
  color: var(--text-color1);
  margin-top: 100px;
  margin-bottom: 20px;
}

.home-text h2{
  font-size: var(--h2-font);
  color: var(--text-color2);
  margin-bottom: 20px;
}

.home-text h3{
  line-height: 3rem;
  color: var(--text-color1);
}

/* About */

.about{
  background-color: var(--bg-color2);
  width: 100%;
  height: 100vh;
}
.about-heading{
  text-align: center;
  color: var(--bg-color1);
}